/*
Author: @develoser
Creation Date: 02/18/2012
Description:  All CSS rules for the Business Module loretoside.com/plazavirtual
*/
ul.business-tags{
	list-style:none;
	float:left;
	vertical-align:top;
	}
li.business-tag{
	background: url(img/defaults/tag_dark.png) no-repeat left;
	font-size:14px;
	float:left;
	text-align:center;
	height:32px;
	display:block;
	cursor:pointer;
	left: 0px;
	width: 150px;
	padding: 0px 8px 0px -1px; 
	vertical-align:top;
	}
.business-categories{
	font-size:14px;
	}			
.gray{
	color:#333;
	}
.businesses-container{
	display: block;
	cursor:pointer;
	width:100%;
}
.business-deatails{
	float: left;
	font-size:12px;
	padding:25px 20px 40px 0px;
	width:290px;
}
.business-deatails:hover{
	background-color: #DDD;
}
.business-picture{
  	border: 1px solid #999;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	width: auto;

}						
.business-title{
	font-weight: bold;
	font-size: 16px;
}			
div.business-description{
	font-style:italic;
	/*font-family: Georgia, Helvetica, sans-serif;*/
}
.raiting-star{
	background: url(../img/defaults/start.png) no-repeat left;
	color: #FFF;
	float: left;
	height:16px;
	width:16px;
	padding: 0px 5px 0px 0px;
}
.business-main-details{
	padding: 4px 4px 40px 4px;
	cursor: pointer;
}
.business-main-details:hover{
	background-color: whiteSmoke;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.business-main-title{
	/*font: bold 28px Verdana, sans-serif;*/

}
.border-radius{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
}

div.thumbnail .product-img-thumb {
	cursor: pointer;
	padding-left: 30px;
}

/*
 * TODO: We need to move all this classes to a global style, for all sections;
 *
*/

.invalidPrice {
	color: red;
	text-decoration: line-through;
}

.offerPrice {
	color: green;
	text-decoration: none;

}

.left {
	float: left;
}

.fig-image .timeline {
	position: absolute;
	display: inline-block;
	display: none;
	text-align: left;
	vertical-align: middle;
	padding: 12px 0 0 14px;
	background: transparent;
}

.fig-image .timeline sup {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: #060606;
	opacity: 0.4;
	filter: alpha(opacity=40);
}

#yup {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: #060606;
	opacity: 0.3;
}

/*
.thumbnail.details{
	cursor: pointer;
}
.details .caption{
	display: none;
}
*/