<div class="row">
	<div class="span12">
			<h1>Eventos</h1>
	</div>
</div>
<div class="row">
	<div class="span12">
		&nbsp			
	</div>
</div>
<div class="row">
	<div class="span12">
		<form class="form-search">
        	<input type="text" class="input-xlarge search-query" placeholder="¿Qué tipo de evento buscas?">
        	<a class="btn" href="#"><i class="icon-search"></i> Buscar</a>
      </form>
	</div>
</div>
<div class="row">
<div class="span12">
  <div class="span7">
    <div id="evento-principal" class="carousel">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item"><img src="http://placehold.it/260x180" alt=""></div>
        <div class="item"> <span><img src="http://site.com/imagen.jpg" width="400px" height="320px" alt=""></span></div>
        <div class="item"><img src="http://placehold.it/260x180" alt=""></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="span5"></div>
</div>
<div class="row">
	<div class="span12">
		<blockquote>
			<h2>¿Tienes un evento que quieres difundir?</h2>
			<p>&nbsp</p>
	        <p>No te pierdas de los beneficios de difundir tu evento con nosotros</p>
      </blockquote>
      <p>
      <br>
	    <a class="btn btn-primary btn-large" href="#"><i class="icon-plus-sign icon-white"></i><b> Crear Evento</b></a>
	  </p>
	</div>
</div>