<div class="row">
	<div class="span12">
			<h1>Plaza Virtual</h1>
	</div>
</div>
<div class="row">
	<div class="span12">
		&nbsp			
	</div>
</div>
<div class="row">
	<div class="span8 left">
		<form class="form-search">
        <h3>¿Qué estás buscando?</h3>
        <input id="search-business-word" type="text" class="input-xlarge search-query" placeholder="Ropa, Celulares, Comida, Video juegos, etc." autofocus>
        <a id="search-business-button" class="btn" href="#"><i class="icon-search"></i> Buscar</a>
    </form>
	</div>
  <div class="span3">
    <ul class="nav nav-pills right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Selecciona una Categoría<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <!-- links -->
          <li><a href="#">Autos</a></li>
          <li><a href="#">Bares</a></li>
          <li><a href="#">Cafeterías</a></li>
          <li><a href="#">Dulcerías</a></li>
          <li><a href="#">Electrónicos</a></li>
          <li><a href="#">Joyerías</a></li>
          <li><a href="#">Zapaterias</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span12">
  	<ul class="thumbnails business-main"></ul>
  </div>
</div>
<div class="row">
	<div class="span12">
		<blockquote>
			<h2>Registra tu propio negocio</h2>
			<p>&nbsp</p>
	        <p>¿Tienes un negocio u ofreces cualquier tipo de servicio y quieres aparecer en esta sección? Esta es tu oportunidad.</p>
	        <p>No pierdas más el tiempo y se parte de <strong>Tu Negocio 2.0</strong> de la mano de Loretoside.com</p>
      </blockquote>
      <p>
      <br>
	    <a class="btn btn-primary btn-large" href="#"><i class="icon-plus-sign icon-white"></i><b> Registrar Negocio</b></a>
	  </p>
	</div>
</div>