<div class="thumbnail">
	<span>
		<center>
			<img class="hide" src="/img/plaza/productos/<%=imgThumb%>" alt="<%=nombre%>">
		</center>
	</span>
	<div class="caption">
		<h3><%=nombre%></h3>
		<h3>$<%=precio%></h3><%if (true) { %> <span class="label label-success">¡Precio en Oferta!</span><br><% } %>
	</div>
</div>